---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Cards.astro";
import Header from "../../components/Header.astro";
import Hero from "../../components/Hero.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const posts: CollectionEntry<"tips">[] =
  (await getCollection("tips")).sort(
    (a: CollectionEntry<"tips">, b: CollectionEntry<"tips">) =>
      a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
  );
---
<Layout title="Welcome to Astro.">
	<main>
		<Header title="AstroBuild.tips" />
		<Hero />
		<ul role="list" class="link-card-grid">
			{
				posts.map((post) => (
					<Card
						title={post.data.title}
						time={post.data.pubDate}
						tags={post.data.tags}
						slug={post.slug}
					/>
				))
			}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
