---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Welcome />
	 <div class="min-h-screen flex items-center justify-center bg-indigo-600 text-white text-4xl font-bold">
    Tailwind v4 activo y sin errores 
  </div>
</Layout>

<Cards
  time="20th Oct 2026"
  title="Hello Astro"
  tags="JavaScript"
/>
